* {
  margin: 0.3rem;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Roboto',sans-serif;
}

nav {
  background-color: rgb(240, 152, 44);
}

ol {
  text-align: right;
  padding: 0.5rem;
}

li {
  display: inline-block;
  margin-inline: 0.5rem 0.5rem;
  padding-inline: 0.5rem 0.5rem;
}

li a {
  color: darkgreen;
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

.one {
  width: 200px;
  height: 200px;
  background-color: black;
  color: aliceblue;
}

.two {
  float: left;
  margin: 1rem;
}

.three {
  width: 200px;
  height: 200px;
  background-color: black;
  color: aliceblue;
  
}

.four {
  float: right;
  margin: 1rem;
}

.five {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  color: blueviolet;
}

.six {
  float: left;
  margin: 1.5rem;
}

section {
  background-color: bisque;
  border: 2px black solid;
  padding: 0.5rem;
  /* overflow: auto; */
  display: flow-root;
}
/* .clear {
  clear: both;
} */