body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 4%;
  padding: 5%;
  background-color: #2d8d9a;
}


.position {
  position: sticky;
  top: 0px;
  font-size: 30px;
  border: 4px solid #953195;
  margin: 2%;
  padding: 4%;
  text-align: center;
  background-color: black;
  color: wheat;
 
}

section {
  margin: 2em;
  color: rgb(60, 18, 128);
  text-decoration: underline;
  text-transform: capitalize;
  text-indent: 1em;
  text-align: justify;
  line-height: 1.4;
  letter-spacing: 0.15em;
  word-spacing: 0.1em;
  font-weight: 300;
  font-style: oblique;
}
/*Text & Font are different*/
article {
  margin: 0.4em;
}

span {
  text-decoration: line-through;
}

.article2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: capitalize;
}
